{{! template-lint-disable no-invalid-interactive }}
<div
  class="ember-power-calendar-days"
  data-power-calendar-id={{or @calendar.calendarUniqueId @calendar.uniqueId}}
  role="grid"
  aria-labelledby="ember-power-calendar-nav-title-{{@calendar.uniqueId}}"
  {{on "click" this.handleClick}}
  {{this.setup}}
  ...attributes
>
  <div
    class="ember-power-calendar-row ember-power-calendar-weekdays"
    role="row"
  >
    {{#each this.weekdaysNames as |wdn|}}
      <div
        class="ember-power-calendar-weekday"
        role="columnheader"
      >{{wdn}}</div>
    {{/each}}
  </div>
  <div
    class="ember-power-calendar-day-grid"
    role="rowgroup"
    {{on "keydown" this.handleKeyDown}}
  >
    {{#each this.weeks key="id" as |week|}}
      <div
        class="ember-power-calendar-row ember-power-calendar-week"
        role="row"
        data-missing-days={{week.missingDays}}
      >
        {{#each week.days key="id" as |day|}}
          <button
            type="button"
            role="gridcell"
            data-date="{{day.id}}"
            class={{ember-power-calendar-day-classes
              day
              @calendar
              this.weeks
              @dayClass
            }}
            {{on "focus" this.handleDayFocus}}
            {{on "blur" this.handleDayBlur}}
            disabled={{day.isDisabled}}
            tabindex={{if day.isFocused "0" "-1"}}
            aria-selected={{if day.isSelected "true"}}
          >
            {{#if (has-block)}}
              {{yield day @calendar this.weeks}}
            {{else}}
              {{day.number}}
            {{/if}}
          </button>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>