<PowerCalendar
  @center={{center}}
  @onCenterChange={{action (mut this.center) value="date"}} as |calendar|>

  <calendar.Nav>
    <span class="with-invisible-select">
      {{#let (format-date calendar.center 'MMMM') as |currentMonth|}}
        {{currentMonth}}
        <select onchange={{fn this.changeCenter "month" calendar}}>
          {{#each months as |month|}}
            <option value="{{month}}" selected={{eq month currentMonth}}>{{month}}</option>
          {{/each}}
        </select>
      {{/let}}
    </span>
    <span class="with-invisible-select">
      {{#let (format-date calendar.center 'YYYY') as |currentYear|}}
        {{currentYear}}
        <select onchange={{fn this.changeCenter "year" calendar}}>
          {{#each years as |year|}}
            <option value="{{year}}" selected={{eq year currentYear}}>{{year}}</option>
          {{/each}}
        </select>
      {{/let}}
    </span>
  </calendar.Nav>

  <calendar.Days/>
</PowerCalendar>
