<PowerCalendar class="demo-calendar-small"
  @center={{month}}
  @onCenterChange={{action (mut month) value="date"}} as |calendar|>

  <nav class="ember-power-calendar-nav">
    <button type="button" class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter -12 'month'}}>«</button>
    <button type="button" class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter -1 'month'}}>‹</button>
    <div class="ember-power-calendar-nav-title">
      {{format-date calendar.center 'MMMM YYYY'}}
    </div>
    <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter 1 'month'}}>›</button>
    <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter 12 'month'}}>»</button>
  </nav>

  <calendar.Days/>
</PowerCalendar>