<div
  class="ember-power-calendar-days"
  {{on "click" this.handleClick}}
  ...attributes
  data-power-calendar-id={{or @calendar.calendarUniqueId @calendar.uniqueId}}>
  <div class="ember-power-calendar-row ember-power-calendar-weekdays">
    {{#each this.weekdaysNames as |wdn|}}
      <div class="ember-power-calendar-weekday">{{wdn}}</div>
    {{/each}}
  </div>
  {{! template-lint-disable no-invalid-interactive }}
  <div class="ember-power-calendar-day-grid" {{on "keydown" this.handleKeyDown}}>
    {{#each this.weeks key='id' as |week|}}
      <div class="ember-power-calendar-row ember-power-calendar-week" data-missing-days={{week.missingDays}}>
        {{#each week.days key='id' as |day|}}
          <button type="button"
            data-date="{{day.id}}"
            class={{ember-power-calendar-day-classes day @calendar this.weeks this.dayClass}}
            {{on "focus" this.handleDayFocus}}
            {{on "blur" this.handleDayBlur}}
            disabled={{day.isDisabled}}>
            {{#if (has-block)}}
              {{yield day @calendar this.weeks}}
            {{else}}
              {{day.number}}
            {{/if}}
          </button>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
