<div class="ember-power-calendar-row ember-power-calendar-weekdays">
  {{#each dayNames as |name|}}
    <div class="ember-power-calendar-weekday">
      {{name}}
    </div>
  {{/each}}
</div>

{{#if onChange}}
  <div class="ember-power-calendar-day-grid" onkeydown={{action "onKeyDown"}}>
    {{#each weeks key='id' as |week|}}
      <div class="ember-power-calendar-row ember-power-calendar-week">
        {{#each week.days key='id' as |day|}}
          <button
            data-date="{{day.id}}"
            class="ember-power-calendar-day ember-power-calendar-day--interactive {{if day.isCurrentMonth 'ember-power-calendar-day--current-month' 'ember-power-calendar-day--other-month'}} {{if day.isSelected 'ember-power-calendar-day--selected'}} {{if day.isToday 'ember-power-calendar-day--today'}} {{if day.isFocused 'ember-power-calendar-day--focused'}} {{if day.isRangeStart 'ember-power-calendar-day--range-start'}} {{if day.isRangeEnd 'ember-power-calendar-day--range-end'}}"
            onclick={{action calendar.actions.select day}}
            onfocus={{action 'onFocusDay' day}}
            onblur={{action 'onBlurDay'}}>
            {{#if hasBlock}}
              {{yield day publicAPI}}
            {{else}}
              {{day.number}}
            {{/if}}
          </button>
        {{/each}}
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="ember-power-calendar-day-grid">
    {{#each weeks key='id' as |week|}}
      <div class="ember-power-calendar-row ember-power-calendar-week">
        {{#each week.days key='id' as |day|}}
          <div
            data-date="{{day.id}}"
            class="ember-power-calendar-day {{if day.isCurrentMonth 'ember-power-calendar-day--current-month'}} {{if day.isSelected 'ember-power-calendar-day--selected'}} {{if day.isToday 'ember-power-calendar-day--today'}} {{if day.isRangeStart 'ember-power-calendar-day--range-start'}} {{if day.isRangeEnd 'ember-power-calendar-day--range-end'}}">
            {{#if hasBlock}}
              {{yield day publicAPI}}
            {{else}}
              {{day.number}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
{{/if}}
