{{! template-lint-disable invalid-interactive }}
<div class="ember-power-calendar-year-grid" onkeydown={{action "onKeyDown" calendar}}>
  {{#each years key='id' as |year|}}
    <button
      type="button"
      data-date="{{year.id}}"
      class="
        ember-power-calendar-year
        {{if onSelect 'ember-power-calendar-year--interactive'}}
        {{if year.isSelected 'ember-power-calendar-year--selected'}}
        {{if year.isCurrentYear 'ember-power-calendar-year--current-year'}}
        {{if year.isCurrentDecade 'ember-power-calendar-year--other-decade' 'ember-power-calendar-year--current-decade'}}
        {{if year.isFocused 'ember-power-calendar-year--focused'}}
        {{if year.isRangeStart 'ember-power-calendar-year--range-start'}}
        {{if year.isRangeEnd 'ember-power-calendar-year--range-end'}}
      "
      onclick={{action calendar.actions.select year calendar}}
      onfocus={{action 'onFocusMonth' year}}
      onblur={{action 'onBlurMonth'}}
      disabled={{year.isDisabled}}>

      {{#if hasBlock}}
        {{yield year publicAPI}}
      {{else}}
        {{power-calendar-format-date year.date yearFormat locale=calendar.locale}}
      {{/if}}
    </button>
  {{/each}}
</div>
