<BasicDropdown as |dropdown|>
  <div>
    <label for="datepicker-1">Date picker</label>
  </div>

  <input
    type="text"
    data-ebd-id="{{dropdown.uniqueId}}-trigger"
    class="datepicker-demo-input"
    value={{if this.selected (format-date this.selected "DD-MM-YYYY")}}
    id="datepicker-1"
    readonly
    {{on "focus" dropdown.actions.toggle}}
  />

  <dropdown.Content class="datepicker-demo-dropdown">
    <PowerCalendar
      class="demo-calendar-small"
      @center={{this.center}}
      @onCenterChange={{this.onCenterChange}}
      @selected={{this.selected}}
      @onSelect={{this.onSelect}}
      @isDatePicker={{true}}
      as |calendar|
    >
      <calendar.Nav />
      <calendar.Days />
    </PowerCalendar>
  </dropdown.Content>
</BasicDropdown>