<h1 class="doc-page-title">Multiple dates</h1>

<p>
  The last use case is allowing the user to select several non-consecutive dates. Enter <code>power-calendar-multiple</code>.
</p>

<p>There is no much need of explanation, so lets see it in action. Play with it, click around and use the keyboard.</p>

{{#code-example hbs="multiple-selection-1.hbs" js="multiple-selection-1-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  When you want to select multiple dates, the <code>selected</code> property is, unsurprisingly, an array of dates.
</p>

<p>
  Every time you select a day, the <code>onSelect</code> action is called with the <code>Date</code> and <code>MomentJS</code>
  lists of days clicked so far. It's worth noticing that clicking on a selected day unselects it and that the days are passed in the
  order they are clicked.
</p>

<p>
  Since what the <code>onSelect</code> action does is up to you, you can implement any logic you want, no
  matter how <strike>absurd</strike> complex it is.
</p>

<p>
  By example, let's implement a calendar that allows you to click on any day, and when you do, it selects the nearest day
  which number is prime, selecting the lowest one in case of a tie.
</p>

{{#code-example hbs="multiple-selection-2.hbs" js="multiple-selection-2-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  Why would anyone want to do that?! No clue.
</p>

<p>
  Another thing to note is that selection order is preserved. The last clicked element is at the last position of the array, so
  you can use this kind of calendar to perform order sensitive selections:
</p>

{{#code-example hbs="multiple-selection-3.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  You can also set a <code>maxLength</code> property on the days component for the maximum number of days that can be selected
</p>

{{#code-example hbs="multiple-selection-4.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  Now lest talk about serious business. Customization.
</p>

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.range-selection'}} class="doc-page-nav-link-prev">&lt; Range selection</a>
  <a href={{href-to 'public-pages.docs.the-nav'}} class="doc-page-nav-link-next">The nav &gt;</a>
</div>
