<h1 class="doc-page-title">Range selection</h1>

<p>
  The most common use case of calendars is selecting a single day. The second most common one is selecting a
  duration, aka, a range.
</p>

<p>
  The only differences in the API between a calendar for selecting a single day and a calendar
  for selecting a range are that the name of the component is now <code>power-calendar-range</code> and that
  the <code>selected</code> option has to implement the <code>Range</code> interface.
  It might sound scary, but it only means that it has to be an object with <code>start</code> and <code>end</code>
  properties.
</p>

<p>
  The same <code>onSelect</code> action used in the previous chapter to select one date,
  is now used to select a range. The object that this action receives has a <code>date</code> and <code>moment</code>
  properties, each one containing a range with the dates in native Date objects or in momentJS objects.
</p>

<p>
  Lets see this in action.
</p>

{{#code-example hbs="range-selection-1.hbs" js="range-selection-1-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  All the days in the range are selected, and the ends of the range have some special
  classes so you can style them differently.
</p>

<p>
  Let's see an example:
</p>

{{#code-example hbs="range-selection-2.hbs" js="range-selection-1-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>Hey, I never said I was a brilliant designer! But you get the idea.</p>

<h3>The <code>minRange</code> and <code>maxRange</code> option</h3>

<p>
  Usually the only restriction in ranges is that they have to start in one day and end in a different day,
  but sometimes you want to be more restrictive on the length of the range, so the <code>minRange</code> and
  <code>maxRange</code> cover this they way you expect them to.
</p>

<p>
  Those options accept a <code>moment.duration</code> object, a <code>number</code> or a <code>string</code>.
  The default minimum range is one day, so the range has to start in a different date from where it begins and
  there is no maximum range.
</p>

<p>If you want to force the user to pick a range of at least 3 days you can just pass a number:</p>

{{#code-example hbs="range-selection-3.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  Notice that once you select one end of the range the days that cannot be selected are disabled automatically.
</p>

<p>
  This property accepts humanized durations which make it very nice to use with different units other thay days.
  Let's make the range be of at most one week.
</p>

{{#code-example hbs="range-selection-4.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  As you'd expect, you can also use the abbreviations accepted by <code>MomentJs</code> and
  combine <code>minRange</code> and <code>maxRange</code> as you want.
</p>

{{#code-example hbs="range-selection-5.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  If you want to allow ranges to begin and end on the same day, pass <code>minRange=0</code>.
</p>

{{#code-example hbs="range-selection-6.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  Now let's see how to select several non-consecutive dates.
</p>

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.action-handling'}} class="doc-page-nav-link-prev">&lt; Action handling</a>
  <a href={{href-to 'public-pages.docs.multiple-selection'}} class="doc-page-nav-link-next">Multiple selection &gt;</a>
</div>
