<h1 class="doc-page-title">The days</h1>

<p>
  A calendar is basically a list of days, typically (although not necessarily)
  displayed in a grid with 7 columns. So the first thing you might want to customize is
  the content of each day.
</p>

<h3>Passing a block</h3>

<p>
  There is many ways of doing it, but the simplest one is passing a block that will be
  the content of each cell of the grid. It's not the most versatile but can be used for
  simple customizations.
</p>

<p>
  The block receives two arguments. The first one is a useful day object and the second is the
  public API of the component. You can check the API of both objects <a href="/docs/api-reference">API reference</a> section.
</p>

<p>
  Let's start by making the number of the days of the weeked be strong and pink, because we like weekends.
</p>

{{#code-sample hbs="the-days-1.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-sample}}

<p>
  The properties of they so called "day" object to make most common customizations easy.
</p>

<h3>Just using the public API</h3>

<p>
  Like with <a href={{href-to 'public-pages.docs.the-nav'}}>The nav</a> component, all the behaviour is
  implemented using the public API of the calendar, so you can build your calendar in your place.
</p>

<p>
  This is a non-trivial example where I build a weird month grid that has no Mondays or Wednesdays.
  Yay short weeks!
</p>

{{#code-sample hbs="the-days-2.hbs"  js="the-days-2-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-sample}}

<h3>Passing a custom component</h3>

<p>
  Just like with the nav component, you can encapsulate this weird grid with 5 days week into a component to
  reuse it all over the place. Maybe if you use it often enough the boss end up thinking weeks have 3 working days.
</p>

{{#code-sample hbs="the-days-3.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-sample}}

<p>
  This options are the one that give you more power, but it would be silly to make user create they own components
  for very common changes like customizing the start of the week and things like that, so the default <code>calendar.days</code>
  component has a few configuration options to tweak the most common use cases.
</p>

<h3><code>startOfWeek</code></h3>

<p>TODO: Make the week start on Sundays and things like that</p>

<h3><code>daysAround</code></h3>

<p>TODO: Allow to show/not show days before/after the first/last day of the month. Perhaps also allow to tweak how many?</p>

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.the-nav'}} class="doc-page-nav-link-prev">&lt; The nav</a>
  {{!-- <a href={{href-to 'public-pages.docs.the-nav'}} class="doc-page-nav-link-next">The days &gt;</a> --}}
</div>