<h3>Helpers testing</h3>
<div class="calendar-center-1">
  <PowerCalendar @center={{this.center1}} @onCenterChange={{fn this.onCenterChange 'center1'}} as |calendar|>
    <calendar.Nav/>
    <calendar.Days/>
  </PowerCalendar>
</div>

<div class="calendar-center-2">
  <PowerCalendar class="calendar-center-2-calendar" @center={{this.center2}} @onCenterChange={{fn this.onCenterChange 'center2'}} as |calendar|>
    <calendar.Nav/>
    <calendar.Days/>
  </PowerCalendar>
</div>

<div class="calendar-center-3">
  <PowerCalendar @center={{this.center3}} as |calendar|>
    <calendar.Nav/>
    <calendar.Days/>
  </PowerCalendar>
</div>

<div class="calendar-center-4">
  <PowerCalendar @tagName="" @center={{this.center4}} @onCenterChange={{fn this.onCenterChange 'center4'}} as |calendar|>
    <calendar.Nav/>
    <calendar.Days/>
  </PowerCalendar>
</div>

<div class="calendar-select-1">
  <PowerCalendar
    @center={{this.center4}}
    @selected={{this.selected4}}
    @onSelect={{fn this.onSelect 'selected4'}}
    @onCenterChange={{fn this.onCenterChange 'center4'}} as |calendar|>
    <calendar.Nav/>
    <calendar.Days/>
  </PowerCalendar>
</div>

<div class="calendar-select-2">
  <PowerCalendar
    @tagName=""
    @center={{this.center4}}
    @selected={{this.selected4}}
    @onSelect={{fn this.onSelect 'selected4'}}
    @onCenterChange={{fn this.onCenterChange 'center4'}} as |calendar|>
    <calendar.Nav/>
    <calendar.Days/>
  </PowerCalendar>
</div>

<div class="calendar-in-dropdown">
  <BasicDropdown as |dropdown|>
    <dropdown.Trigger>
      <input
        value={{this.selected4}}
        name="date"
        readonly="true"
      >
    </dropdown.Trigger>
    <dropdown.Content class="dropdown-content">
      <PowerCalendar
        @tagName=''
        @center={{this.center4}}
        @selected={{this.selected4}}
        @onSelect={{fn this.onSelect 'selected4'}}
        @onCenterChange={{fn this.onCenterChange 'center4'}} as |calendar|>
        <calendar.Nav/>
        <calendar.Days/>
      </PowerCalendar>
    </dropdown.Content>
  </BasicDropdown>
</div>