<h1>Ember Power Calendar</h1>
<div class="legacy-demo" style="padding: 10px 20px">
  <h3>Small with only navbar</h3>
{{!--   {{#power-calendar
    class="demo-calendar-small"
    center=foo as |calendar|}}
    {{calendar.nav}}
  {{/power-calendar}}

  <h3>Small with no nav</h3>
  {{#power-calendar
    class="demo-calendar-small"
    onSelect=(action (mut selected) value="date")
    selected=selected as |calendar|}}
    {{calendar.days}}
  {{/power-calendar}}

  <h3>Small with no blocks at all</h3>
  {{#power-calendar
    class="demo-calendar-small"
    center=foo
    onCenterChange=(action (mut foo) value="date")
    onSelect=(action (mut selected) value="date")
    selected=selected as |calendar|}}

    {{calendar.nav}}
    {{calendar.days}}
  {{/power-calendar}}

  <h3>Small with a custom block on the nav</h3>

  {{#power-calendar
    class="demo-calendar-small"
    center=foo
    onCenterChange=(action (mut foo) value="date")
    onSelect=(action (mut selected) value="date")
    selected=selected as |calendar|}}

    {{#calendar.nav as |month|}}
      {{moment-format month 'MMM YY'}}
    {{/calendar.nav}}
    {{calendar.days}}
  {{/power-calendar}}

  <h3>Small with a custom block on the days</h3>

  {{#power-calendar
    class="demo-calendar-small"
    center=foo
    onCenterChange=(action (mut foo) value="date")
    onSelect=(action (mut selected) value="date")
    selected=selected as |calendar|}}

    {{calendar.nav}}
    {{#calendar.days as |day|}}
      {{moment-format day.moment 'Do'}}
    {{/calendar.days}}
  {{/power-calendar}} --}}

  <h3>Medium</h3>


  {{#power-calendar class="demo-calendar-medium" as |calendar|}}
    {{calendar.nav}}
    {{calendar.days minDate=tenDaysAgo maxDate=threeDaysAgo}}
  {{/power-calendar}}


  {{#power-calendar
    class="demo-calendar-medium"
    selected=selected
    onSelect=(action (mut selected) value="moment") as |calendar|}}
    {{calendar.nav}}
    {{calendar.days minDate=tenDaysAgo maxDate=threeDaysFromNow}}
  {{/power-calendar}}

  <h3>Big</h3>

  {{#power-calendar
    class="demo-calendar-big"
    selected=selected
    onSelect=(action (mut selected) value="moment") as |calendar|}}
    {{calendar.nav}}
    {{calendar.days}}
  {{/power-calendar}}

  <h3>Range</h3>

  {{#power-calendar-range
    class="demo-calendar-medium demo-range-calendar-with-pretty-range-ends-yo"
    center=foo
    onCenterChange=(action (mut foo) value="date")
    selected=range
    onSelect=(action (mut range) value="moment") as |calendar|}}
    {{calendar.nav}}
    {{calendar.days}}
  {{/power-calendar-range}}

  <h3>Multiple</h3>

  {{#power-calendar-multiple
    class="demo-calendar-medium"
    center=foo
    onCenterChange=(action (mut foo) value="date")
    selected=collection
    onSelect=(action (mut collection) value="date") as |calendar|}}
    {{calendar.nav}}
    {{calendar.days}}
  {{/power-calendar-multiple}}
</div>