<nav class="ember-power-calendar-nav">
  {{#if @calendar.actions.moveCenter}}
    <button
      type="button"
      class="ember-power-calendar-nav-control ember-power-calendar-nav-control--previous"
      aria-label={{or @ariaLabelPreviousMonth "Previous month"}}
      {{on "click" (fn @calendar.actions.moveCenter -1 this.unit @calendar)}}
    >«</button>
  {{/if}}
  <div
    class="ember-power-calendar-nav-title"
    id="ember-power-calendar-nav-title-{{@calendar.uniqueId}}"
    aria-live="polite"
  >
    {{#if (has-block)}}
      {{yield @calendar}}
    {{else}}
      {{power-calendar-format-date
        @calendar.center
        this.format
        locale=@calendar.locale
      }}
    {{/if}}
  </div>
  {{#if @calendar.actions.moveCenter}}
    <button
      type="button"
      class="ember-power-calendar-nav-control ember-power-calendar-nav-control--next"
      aria-label={{or @ariaLabelNextMonth "Next month"}}
      {{on "click" (fn @calendar.actions.moveCenter 1 this.unit @calendar)}}
    >»</button>
  {{/if}}
</nav>